<% if posts.present? %>
  <% posts.each do |post| %>
    <%= link_to post_path(post), class: "text-dark" do %>
      <div class="search-result-item"><%= post.caption %></div>
    <% end %>
  <% end %>
<% else %>
  <div class="p-3">
    投稿がありません
  </div>
<% end %>
