@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "layouts/navbar";
@import "common";
@import "users/devise";
@import "users/show";
@import "users/edit";
@import "posts";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

// ページ内のフォントサイズを初期化 (普段は16px,縮小した時に14px)

.search-result-item {
  padding: 15px;
}

.search-result-item:hover {
  background-color: #fafafa;
}

popover {
  border-radius: 0;
}

.popover-body {
  background: #fff;
  padding: 0;

}